
@media screen and (max-width: 768px) {
    .site {
        overflow-x: hidden;
        position: relative;
        width: 100%;
    }
    html {
        font-size: 20px;
    }

    header>section {
        gap: 0.5em;
    }
    header>section>h1 {
        animation-name: none;
        font-size: 1.6rem;
    }
    main {
        margin: 0 auto;
        flex-flow: column nowrap;
        align-items: center;
        
       
    }
    main>section>figure>img {
        width: 200px;
        height: 200px;
    }
    #legend {
        width: 100%;
        margin: 20px 0;
        justify-content: center;
        height: 55px;
    }
    #legend>p {
        text-align: center;
    }
    main>aside {
        font-size: 20px;
        position: static;  
   }
   main>aside>form {
        height: 5em;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
   }
}